* {
    margin: 0;
    padding: 0;
} 
.header {
    margin: auto;
    border: auto;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #1F2937;
    
}
.logo{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f9faf8;
    font-weight: bold; 
    
}
.link {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #e5E7EB;
    font-weight:normal;
    
}
.l1,.l2,.l3{
    margin-left: 15px;
    margin-right: 15px;
}

.hero {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    height: 550px ;
    
}
.hero-left{
    /* border: 1px solid white; */
    padding: 230px;
    padding-top: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 170px;
    
    
}

.h1{

    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.h2{
    /* border: 1px solid white; */
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #e5E7EB;
    
}
.hero-right{

    border: 1px solid white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #e5E7EB;
    background-color: rgb(97, 97, 97);
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom:80px ;
    padding-top:  80px; ;
    justify-content: center;
    width: 650px;
    height: 100px;
   align-items: center;
   /* align-content: center; */
   align-self: center;
    margin-right: 150px;
   margin-left: -80px;
    

}
#sign-up {
    width: 110px;
    height: 35px;
    border-color: white;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 420px;
    margin-top: 15px;
    background-color: #3882f6;
    border-radius: 10px;
}

.x1{
    /* border: 1px solid black; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.imgs {
    /* border: 1px solid black; */
    height: 350px;
    display: flex;
    justify-content: center;
    
}
.p1 {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 182px;
    align-items: center;

}
.i1{
    border: 1px solid #3882f6;
    border-radius: 10px;
    border-width: 4px;
    height: 150px;
    width: 150px;
    
   
}
.t1{
    /* border: 1px solid black; */
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-align: center;    

}

.quote{
    /* border: 1px solid black; */
    height: 400px;
    background-color: #e5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 400px;
    padding-right: 400px;
}

.q1{
    /* border: 1px solid black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: light;
    font-size: 30px;
}
.q2{
    /* border: 1px solid black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.footer{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub{
    height: 150px;
    width: 1000px;
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.mini-1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mini-2{
    display: flex;
    justify-content: flex-end;
    height: 40px;
}
.xx1{
    font-size: 21px;
    font-weight: bold;
    
}

#sign-up-2{
    width: 110px;
    height: 35px;
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 10px;
    border-width: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.end{
    height: 100px;
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}